.main, .main *
    box-sizing: border-box

.main
    display: flex
    justify-content: center
    width: 100%
    border: 1px solid #c0c0c0
    border-radius: 4px
    min-height: 300px

.container
    width: 100%
    padding: 50px

.header
    display: flex
    border-bottom: 1px solid #cccccc
    justify-content: space-between
    padding-bottom: 10px
    line-height: 45px

.heading
    font-size: 36px
    font-weight: 500
    margin: 0

.headingContainer
    display: flex
    justify-content: space-between

.addEventContainer
    position: relative


.addEvent
    color: white
    background-color: #455A89
    width: 47px
    height: 45px
    line-height: 36px
    border: none
    border-radius: 7px
    font-size: 36px
    text-decoration: none
    outline: none
    margin: 0 20px
    

    &:hover
        color: #455A89
        background-color: transparent
        border: 3px solid #455A89
        font-weight: bold
        cursor: pointer

.remainingHeading
    display: flex
    justify-content: space-between

.remainingHeading p
    margin: 0
    font-size: 18px

.remainingHeading i
    font-size: 32px
    margin-left: 15px
    line-height: 45px

.eventsContainer
    display: flex
    align-items: stretch
    justify-content: flex-start
    flex-direction: column

.noEvents
    display: inline-block
    margin: 15px 0
    text-align: center
    font-size: 24px
    font-weight: bold

.event
    display: flex
    justify-content: space-between
    border-radius: 5px
    background-color: #eeeeee
    height: 60px
    line-height: 60px
    margin: 15px 0
    position: relative

    .eventName
        margin: 0 20px
        font-size: 20px
        max-width: 70%
        z-index: 2

    .remainingTime
        color: #999999
        font-size: 20px
        font-weight: bold
        margin: 0 20px
        z-index: 2

    .progress
        position: absolute
        left: 0
        top: 0
        height: 60px
        width: 0%
        z-index: 1
        border-radius: 5px
        background-color: #D1E9CF

    .done
        background-color: #455A89
        color: white
        border-radius: 7px
        border: 3px solid transparent
        text-decoration: none
        outline: none
        margin: 0 20px
        height: 45px
        padding: 0 12px
        font-size: 20px
        font-weight: bold
        font-family: inherit

        i
            margin-right: 7px
            font-size: 18px

        &:hover
            color: #455A89
            background-color: transparent
            border: 3px solid #455A89
            cursor: pointer

        